# Dépendances
node_modules/

# Environnements (⚠️ secrets)
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Build / caches
dist/
build/
.tmp/
.cache/

# Uploads éventuels (si tu stockes des fichiers localement)
uploads/
storage/
tmp/

# OS / éditeurs
.DS_Store
Thumbs.db
.vscode/
.idea/
